<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        placeholder="Enter post title..."
        #title="ngModel"
      >
      <mat-error *ngIf="title.invalid"> Please enter a title </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      rows="4"
      name="content"
      [ngModel]="post?.content"
      required
      placeholder="Enter post content.."
      #content="ngModel"
    ></textarea>
    </mat-form-field>
    <mat-error *ngIf="content.invalid"> Please enter some content </mat-error>
    <button mat-raised-button color="primary" type="submit">Save post</button>
  </form>
</mat-card>
